<section>
  <!-- VIEW FULLSCREEEEN BEST FOR 1440px-->
<!-- IMAGE OBTAINED FROM FREEPIK,VECTEEZY-->
<div class="outer">
    <div class="inner">
      <div class="prod-left">
        <h1 class="prod-head"><span style="color:#0f457f">BPIT</span> Extracurriculars</h1>
        <h4 class="prod-head-sub">Never let good enough BE enough!</h4>
      </div>
      <div class="prod-right">
        <img src="/assets/human-image.png" class="prod-human-img" alt="prod"/>
      </div>
    </div>
  </div>
</section>
<section class="events">
    <h1 class="heading">Events</h1>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" src="https://i.gifer.com/7hao.gif" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Individual Events Boys</h5>
                        <p class="card-text">The Individual events include games like atheletics, chess, and badminton etc. </p>
                        <a href="/eventsregister" class="btn btn-danger">Register</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" height="190px;" src="http://i1.wp.com/inews.gtimg.com/newsapp_match/0/479706149/0" alt="Card image cap">
                    <div class="card-body">
                            <h5 class="card-title">Individual Events Girls</h5>
                            <p class="card-text">The Individual events include games like Atheletics, Chess, and Badminton etc. </p>
                            <a href="/eventsregister" class="btn btn-danger">Register</a>
                        </div>
                </div>
            </div>
            <!-- Add the extra clearfix for only the required viewport -->
            <div class="clearfix hidden-sm-down hidden-lg-up"></div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" src="https://i.pinimg.com/originals/72/19/90/721990480d1f30f45c862cecad967e2d.gif" alt="Card image cap">
                    <div class="card-body">
                            <h5 class="card-title">Team Events Boys</h5>
                            <p class="card-text">The Individual events include games like Basketball, Cricket, Tug of war etc. </p>
                            <a href="/eventsregister" class="btn btn-danger">Register</a>
                        </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" src="http://www.deliabw.edu.hk/student_activities/2016/Interhouses%20%20Competition/Football/0020.gif" height="190px;" style="background:green" alt="Card image cap">
                    <div class="card-body">
                            <h5 class="card-title">Team Events Girls</h5>
                            <p class="card-text">The Individual events include games like Throw ball, Basketball, Tug of war etc </p>
                            <a href="/eventsregister" class="btn btn-danger">Register</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container text-center"><br><br>
        <h1 class="heading">Event Co-Ordinators</h1>
        <div class="row">
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Volley Ball (B)</h5><br>
                      <p class="card-text">Mohit kumar :	8285281473 <br> <br> Saurabh Kumar :	8470906836</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Kabaddi (B)</B></h5><br>
                            <p class="card-text">Aniket Miglani :	9990050552<br> <br> Kashish Kohli :	9311317795</p>
                          </div>
                        </div>
                      </div>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Cricket (B)</h5><br>
                      <p class="card-text">Piyush :	989938871 <br> <br></p>
                    </div>
                  </div>
                </div>
                
    </div>
</section>